body {
            background-color:#9AD9EA;
            font-family: Sans-Serif;
            text-align:center;
}
table {
            margin-left:auto;
            margin-right:auto;
}         
#business{
            border-collapse:collapse;
}
td {
            border:1px solid #9AD9EA;
}
th,  input{
            background-color:#9AD9EA;
            color:#0057A8;
}
 h2 {
 			color:#E81737;
 }

 div {
 			color:#0057A8;
 }

 